.h1{
    color: #333333;
    font-weight: 600;
    margin-bottom: 20px;
}
.line{
    margin-bottom: 30px;
}
.p{
    font-size: 20px;
    width: 70%;
    margin: auto;
    margin-bottom: 100px;
}
.cards{
    border: 0;
    border-radius: 20px;
}
.card_image{
    width: 50%;
    margin: auto;
    margin-top: -50px;

}
.h5{
    margin-top: 10px;
    color: #333333;
    margin-bottom: 20px;
}
.h51{
    color: #333333;
    margin-bottom: 20px;
}
.h52{
    margin-top: 20px;
    color: #333333;
    margin-bottom: 20px;
}
.card_p{
    color: #777777;
    font-size: 17.5px;
    padding: 0 20px;
    padding-bottom: 20px;
}
@media (max-width: 1399.98px) {
    
}
@media (max-width: 1199.98px) {
    .p{
        font-size: 17px;
    }
    .card_p{
        padding: 0 0 20px 0;
        font-size: 16px;
    }
}
@media (max-width: 991.98px) {
    .p{
        font-size: 15px;
        width: 80%;
    }
    .h5{
        font-size: 16px;
    }
    .h51{
        font-size: 16px;
    }
    .h52{
        font-size: 16px;
    }
    .card_p{
        font-size: 11px;
    }
}
@media (max-width: 767.98px) {
    .h1{
        font-size: 30px;
    }
    .line{
        width: 20%;
    }
    .p{
        width: 100%;
        font-size: 13px;
    }
    .cards{
        margin-bottom: 100px;
    }
    .card_p{
        padding: 0 40px;
        font-size: 25px;
        padding-bottom: 50px;
    }
    .h5{
        font-size: 35px;
    }
    .h51{
        font-size: 35px;
    }
    .h52{
        font-size: 35px;
    }

}
@media (max-width: 575.98px) {
    .h1{
        font-size: 25px;
    }
    .line{
        width: 15%;
    }
    .p{
        font-size: 12px;
    }
    .card_p{
        font-size: 20px;
    }
    .h5{
        font-size: 30px;
    }
    .h51{
        font-size: 30px;
    }
    .h52{
        font-size: 30px;
    }
}